header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.header-logo img {
  max-width: 15rem;
}

.header-menu, ol {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  padding: 1rem 0;
}

.header-menu ol li {
  position: relative;
  overflow: hidden;
  list-style: none;
  margin: 0 1rem;
  a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Valorant', sans-serif;
  }
}

.header-menu-a {
  display: block;
  position: relative;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
  padding: .4rem 2rem;
  background-color: var(--Valorant-red);
}

.header-menu-a.active {
  text-decoration: underline;
}

.header-menu-a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -10%;
  width: 130%;
  height: 100%;
  background-color: var(--Valorant-black);
  transform: translateX(-100%) skew(-15deg);
  transition: transform .4s ease;
}

.header-menu-a:hover:before {
  transform: translateX(0) skew(-15deg);
  transition: transform .5s;
}

.header-menu-a span {
  position: relative;
  z-index: 1;
}