header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  position: relative;
}

.header-logo img {
  max-width: 15rem;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 1000;
}

.hamburger-line {
  width: 100%;
  height: 3px;
  background-color: var(--Valorant-red);
  transition: all 0.3s ease;
}

.hamburger-line.open:first-child {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-line.open:last-child {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 20dvw;
  height: 100vh;
  background-color: var(--Valorant-black);
  padding: 80px 20px 20px;
  transition: right 0.3s ease;
  z-index: 999;
}

.nav-menu.active {
  right: 0;
}

.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  margin: 20px 0;
}

.nav-menu a {
  font-size: 1.5rem;
  font-family: 'Valorant', sans-serif;
  display: block;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0 85%);
  border-radius: 10px;
  background-color: var(--Valorant-black);
}

.nav-menu a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--Valorant-red);
  transition: transform 0.4s ease;
  z-index: -1;
}

.nav-menu a:hover::before {
  transform: translateX(100%);
}

.nav-menu li span {
  font-family: 'Valorant', sans-serif;
  position: relative;
  z-index: 1;
}

.nav-menu li.active a {
  text-decoration: underline;
}

.language-buttons {
  display: flex;
  z-index: 1000;
}

@media (max-width: 930px) {
  .nav-menu {
    width: 50dvw;
  }
}

@media (max-width: 768px) {
  .header-logo img {
    max-width: 10rem;
  }
}