@font-face {
  font-family: 'Valorant';
  src: url('../assets/fonts/valorant/ValorantFont.ttf') format('truetype');
}

@font-face {
  font-family: 'Wonderly';
  src: url('../assets/fonts/wonderly/Wonderly.otf');
}

@font-face {
  font-family: 'kg-corner';
  font-weight: 100;
  font-size: large;
  src: url('../assets/fonts/kg-corner/kg-corner.ttf');
}

@font-face {
  font-family: 'comic-neue';
  src: url('../assets/fonts/comic-neue/comic-neue.ttf');
}

* {
  font-family: 'comic-neue', sans-serif;
}

:root {
  --Valorant-black: #0f1923;
  --Valorant-red: #ff4654;
}

.body {
  background-color: #000;
}
