@font-face {
  font-family: 'Valorant';
  src: url('../assets/fonts/valorant/ValorantFont.ttf') format('truetype');
}

@font-face {
  font-family: 'Wonderly';
  src: url('../assets/fonts/wonderly/Wonderly.otf');
}

* {
  font-family: 'Wonderly', sans-serif;
}

.body {
  background-color: #000;
}
