.maps-list__container {
  padding: 2rem 10vw;
}

.maps-list__title {
  font-size: 3rem;
}

.maps-list__search {
  width: 60%;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  margin: 2rem 0;
}

.maps-list__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  gap: 2rem;
}

.maps-list__card {
  position: relative;
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.maps-list__card:hover {
  transform: scale(1.05);
}

.maps-list__card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--hover-image);
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 1rem;
}

.maps-list__card:hover::after {
  opacity: 1;
}

.maps-list__counter-container {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #00000049;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.maps-list__counter-container p {
  font-family: "Valorant", sans-serif;
}

.maps-list__card-info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  background-color: #00000061;
  width: 100%;
  padding: 1rem;
}

.maps-list__card-info > h3 {
  font-size: 1.2rem;
  font-family: "Valorant", sans-serif;
}
