.weapons-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.weapon-card {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(231, 231, 231, 0.586);
  transition: all 0.3s ease;
  cursor: pointer;
}

.weapon-card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.weapon-card img {
  width: 20rem;
  height: 8rem;
  object-fit: contain;
  padding: 0 2rem;
}

.weapon-card > p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.weapon-card-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 0 1rem;
  padding-top: 1rem;
  border-top: 1px dashed #fff;
}

.weapon-card-info-category {
  text-align: left;
}

.weapon-card-info-category p:nth-child(1), .weapon-card-info-cost p:nth-child(1) {
  font-size: .6rem;
  font-weight: 800;
}

.weapon-card-info-category p:nth-child(2), .weapon-card-info-cost p:nth-child(2) {
  margin-left: .2rem;
  font-size: .6rem;
}