.abilities-info {
  text-align: center;
  margin: 0 .5rem;
  max-width: 25%;
}

.abilities-info:nth-child(n+2) {
  border-left: 1px solid #fff;
}

.abilities-info>img {
  width: 30%;
  height: 30%;
}

.abilities-name {
  margin: 0 .5rem;
  font-size: 80%;
  word-break: break-word;
}

.abilities-slot {
  font-size: .8rem;
}
